$font-stack: Helvetica, sans-serif;
$primary-color: white;
$background-color: black;

body {
  background-image: url("https://i.pinimg.com/originals/eb/fc/6e/ebfc6ef04ed07999b1c171b3c6721332.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;
  padding-top: 65px;
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;

  h1 {
    text-align: center;
    font: 500% Impact, Charcoal, sans-serif;
  }

  .container {
  display: flex; /* or inline-flex */
}
.container-fluid {
  background-color: transparent;
  padding-left: 50px;
  padding-right: 50px;


  .col-sm-4 {
    text-align: center;
    padding-bottom: 35px;
  }

  .thumbnail {
    height: 300px;
    width: 300px;
    align-self: center;
    }
  .img-circle {
    height: 275px;
    width: 275px;
  }
}
}
